pytest
pytest-cov
pytest-asyncio
pylint
requests
psutil
black
toml
build
grafanalib
influxdb_client
pandas
pyarrow
requests
plotly
matplotlib
lenspy
plotly_resampler
scipy
scikit-learn
# jupyter dependencies
notebook
qtconsole
jupyter-console
nbconvert
ipykernel
ipywidgets
jupyterlab
openapiart
semantic-version
jupyterlab-lsp
semantic-version

